/* style chages drastically once I pulled my computer from my dock. I have to correct it this area*/



* {
    box-sizing: border-box;
  }

body {

    width: 960px;
    background-image: url("../images/eliot_tupac.jpg");
}
h1 {
    font-family: 'Lucida Console', monospace;
    font-size: 3.75em;
    text-align: center;
    color: #39b8e2;
}

h2 {
    font-family: 'Lucida Console', monospace;
    font-size: 2.5em;
    color: rgb(238, 153, 15);
    
    text-align: center;
   
   
    
}

h3{
    font-family: 'Lucida Console', monospace;
    font-size: 2.5em;
    text-align: center;
    color: #8a276c;
}

h4 {
    font-family: 'Lucida Console', monospace;
    font-size: 3em;
    color: #f80743;
}

p {
    font-family: 'Lucida Console', monospace;
    font-size: 1.75em;
    text-align: center;
    margin: 25px 20px 55px 0;
    
} 

#guessedLetters {
    margin: 19px 0 104px -15px;
    color: #66e68c;
}



#answerWord {
    letter-spacing: .25em;
    margin-top: 0;
    color: #66e68c;
}

main {
    width: 960px;
    margin: 0 auto;
}


.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    background-color: rgba(145, 129, 129, 0.75);
} 



#picResult {
    margin: 24px 0 0 24px;
    width: 50%;
    height: 50%;
    align-self: auto;
}




.main-header {
    width: 44%;
    margin: 32px;
    background-color: #f80743;
    border-style: dashed;
    border-color:#66e68c;
    border-width: .5em;
    
}

.middle {
    align-content: center;
    background-color: rgba(145, 129, 129, 0.75);
    
    height: 80%;
    width: auto;
    margin: 49px 79px 27px 26pxx;
    padding: 0px;
    border-style: dashed;
    border-color:#66e68c;
    border-width: .5em;
}




.side {
    align-content: center;
    background-color: rgba(145, 129, 129, 0.75);
    
    width: 20%;
    padding: 20px;
    border-style: dashed;
    border-color:#66e68c;
    border-width: .5em;
}

.left {
    align-content: center;
    background-color: rgba(145, 129, 129, 0.75);
    width: 50%;
    
    border-style: dashed;
    border-color:#66e68c;
    border-width: .5em;
    margin: 25px 9px 25px 0;
}

.right{
    align-content: center;
    width: 50%;
    height: 50%;
    background-color: rgba(145, 129, 129, 0.75);
    
    
    border-style: dashed;
    border-color:#66e68c;
    border-width: .5em;
    
}
